%ul#list
  - @results.each do |result|
    %li
      - if @group == 'entries'
        = link_to result.title, entry_path(result.id)
      - else
        = link_to result.nickname, user_path(result.id)

=paginate @results
