%ul#list
  - @results.each do |result|
    %li
      - if @group == 'entries'
        = link_to image_tag(result.thumbnail(:thumb)), entry_path(result.id)
        = link_to result.title, entry_path(result.id)
      - else
        = link_to image_tag(result.avatar.url(:thumb)), entry_path(result.id)
        = link_to result.nickname, user_path(result.id)

=paginate @results
