.col-lg-8
  %h1.greeting.text-center
    Followers
  %ul
    - if @followers == nil || @followers.count == 0
      %p.text-center No followers:(
    - else
      - @followers.all.each do |follower|
        %li.new_well
          = link_to image_tag(follower.avatar.url(:thumb)), user_path(follower)
          = link_to follower.name, user_path(follower)
          = link_to "follow", "follow/" + follower.id.to_s, remote: true, method: :get, class: "right"
