.col-lg-8
  %h1.greeting.text-center.static_well
    Followers
  %ul
    - if @followers == nil || @followers.count == 0
      %p.text-center.static_well No followers:(
    - else
      - @followers.all.each do |follower|
        %li.new_well
          = link_to image_tag(follower.avatar.url(:thumb), class: "img-circle"), user_path(follower)
          = link_to (follower.name || follower.nickname), user_path(follower)
          = link_to "follow", "follow/" + follower.id.to_s, remote: true, method: :get, class: "right"
