%h1 People you're following:
%ul
  - @followed_users.all.each do |followed_user|
    %li
      = link_to (followed_user.name || followed_user.nickname), user_path(followed_user)
      = link_to "unfollow", "/users/unfollow/" + followed_user.id.to_s, id: "unfollow", remote: true, method: :get
