.col-lg-8
  .h1.greeting.text-center
    = @user.name
  = image_tag(@user.avatar.url(:medium), class: 'img-circle user-img')
  = link_to "follow", "/users/follow/" + @user.id.to_s, remote: true, method: :get, class: "btn btn-success"
  .bottom_margin
    - if @user_backlog != nil
      = render 'shared/results'
