=form_tag search_path, method: 'get', id: "searchForm" do
  .input-group
    = hidden_field_tag(:group, group)
    - if group == 'entries'
      .search-entries
        = text_field_tag :query, params[:search], placeholder: "Type to search " + group, class: "form-control"
    - else
      .search-users
        = text_field_tag :query, params[:search], placeholder: "Type to search " + group, class: "form-control"
    - if more_results
      %span.input-group-btn.search-icon
        = content_tag(:i, "", class: "fa fa-search fa-2x btn btn-default depth")
- if group == 'entries'
  .loading-entries
    =image_tag src="loading1.gif"
  - if zap == true
    %ul.suggest#entries-list
  - else
    %ul#entries-list
- else
  .loading-users
    =image_tag src="loading1.gif"
  - if zap == true
    %ul.zap#users-list
  - else
    %ul#users-list
