- if @results
  %ul
    - @results.each_with_index do |result, index|
      %li.marginless-col.col-lg-4
        %a{href: entry_path(result)}
          %figure
            - if not result.photo.blank?
              = image_tag("http://image.tmdb.org/t/p/w500/" + result.photo, class: "portrait-img img-responsive grid-img")
            - else
              = image_tag("medium/missing.png", class: "portrait-img img-responsive missing-img")
            %figcaption
              - title = result.title
              - if title.length > 20
                - title = title[0..20] + "..."
              %h3= title
              %p= result.description[0..70] + "..."
