- if group.blank?
  %ul#list
    = render 'shared/results_list', group: group
-  elsif group == 'entries'
  %ul#entries-list
    = render 'shared/results_list', group: "entries"
- else
  %ul#users-list
    = render 'shared/results_list', group: "users"
