# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

$ ->
  $("a[data-remote]").on 'mousedown', (event) ->
    console.log("mousedown")
    $(@).parent().append("deleting...")
  $("a[data-remote]").on "ajax:success", (e, data, status, xhr) ->
    console.log("ajax success")
    $(@).parent().hide()
    $(@).parent().append("deleted!")

  $('.depth').on 'click', (event) ->
    $('.loading').show()
    $('.pagination').show()

  $('#search').on 'keypress', (event) ->
    # event.preventDefault()
    keycode = event.keyCode
    type = $('input[name=group]:checked').val()
    search = $('#search').children().first().val()
    list = $('#list')
    entries = list.children()
    entry.remove() for entry in entries
    $('.pagination').hide()
    $('.loading').hide()
    if keycode == 13
      #TODO: progress bar!
      event.preventDefault()
      $('.loading').show()
      $('.pagination').show()
      url = "http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=<%= ENV['ROTTEN_TOMATOES_KEY'] %>&q=" + search + "&page_limit=5"
      $.ajax url,
        type: 'GET',
        dataType: 'jsonp',
        error: (jqXHR, textStatus, errorThrown) ->
        success: (data, textStatus, jqXHR) ->
          console.log data
    # else if url != 'entries/search//' or url != 'entries/search/'
    #   url = "entries/search/" + type + "/" + search
    #   $.ajax url,
    #     type: 'GET',
    #     error: (jqXHR, textStatus, errorThrown) ->
    #     success: (data, textStatus, jqXHR) ->
    #       for k,v of data
    #         if type == 'entries'
    #           list.append("<li id='" + v['id'] + "'><a href='/entries/" + v['id'] + "'>" + v['title'] + "</a></li>")
    #         else
    #           console.log v['name']
    #           list.append("<li id='" + v['id'] + "'>" + v['name'] + "</li>")
