# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

#TODO: Handle more error cases in AJAX
$ ->
  loading = () ->
    $('.loading').show()
    $('.pagination').show()
  loaded = () ->
    $('.pagination').hide()
    $('.loading').hide()
  appendControllerData = ( data, type, list ) ->
    loaded()
    #TODO: fix this in the request, doing it in the javascript is too horrific for words
    max = 5
    if type == 'entries'
      for k,v of data
        if max > 0
          picture = v['thumbnail_file_name']
          if picture == null then picture = ""
          html = "<a href='/entries/" + v['id'] + "'>"
          html += "<img src='" + picture + "'><li id='" + v['id'] + "'>" + v['title']
          html += "</li></a>"
          list.append(html)
          max--
    else
      max = 5
      for k,v of data
        amazonPath = "http://s3.amazonaws.com/zappcord/users/avatars/000/000/"
        amazonPath = amazonPath + "00" + v['id'] + "/thumb/" + v['avatar_file_name']
        list.append("<img src=' " + amazonPath + " '><li id='" + v['id'] + "'>" + v['name'] + "</li>")
  handler = ( event ) ->
    event.preventDefault()
    loading()
    console.log @.id
    values = @.id.split("~~")
    if values[2] == undefined then values[2] = ""
    if values[1] == "" then values[1] = "No description"
    # + values[0] + "/" + values[1] + "/" + values[2]
    url = "/backlog/unbuilt/"
    console.log(url)
    $.get(url,  {movie_info: values} ).done ( data ) ->
      console.log data
      loaded()
      window.location.replace("/entries/" + data['id'])
  window.appendRequestData = ( data ) ->
    loaded()
    console.log data
    list = $('#list') #TODO: find a way to pass this to the callback
    for movie in data["movies"]
      alternate = movie['alternate_ids']
      if alternate != undefined then imdb = alternate['imdb'] else imdb = "unknown"
      html = "<a href='#' class='unbuilt' id='"
      html += movie['title'] + "~~" + movie['synopsis'] + "~~" + imdb + "'>"
      html += "<img src='" + movie["posters"]["detailed"] + "'><li>"
      html += movie['title'] + "</li></a>"
      html = $(html)
      list.append(html)
      html.click(handler)

  $('.depth').on 'click', ( event ) ->
    loading()

  $('#search').on 'keypress', ( event ) ->
    keycode = event.keyCode
    type = $('input[name=group]:checked').val()
    searchValue = $('#search').children().first().val()
    url = "search/" + type + "/" + searchValue + "/no"
    list = $('#list')
    entries = list.children()
    entry.remove() for entry in entries
    loaded()
    if keycode == 13 && type == 'entries'
      event.preventDefault()
      # entry.remove() for entry in entries
      loading()
      url = "http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=<%= ENV['ROTTEN_TOMATOES_KEY'] %>&q="
      url += encodeURI(searchValue)
      url += "&page_limit=5"
      url += "&callback=appendRequestData"
      $.ajax url,
        type: 'GET',
        crossDomain: true,
        dataType: 'jsonp',
        jsonpCallback: 'appendRequestData',
        error: ( jqXHR, textStatus, errorThrown ) ->
          alert "AJAX Error: #{textStatus}"
    else if (url != 'search/users/' && url != 'search/entries/' && url != 'search/entries//no' && url != '/null')
      console.log(url)
      loading()
      $.ajax url,
        type: 'GET',
        error: ( jqXHR, textStatus, errorThrown ) ->
        success: ( data ) ->
          appendControllerData(data, type, list)
