# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

#TODO: Handle more error cases in AJAX
$ ->
  loading = () ->
    $('.loading').show()
    $('.pagination').show()
  loaded = () ->
    $('.pagination').hide()
    $('.loading').hide()
  appendControllerData = ( data, type, list ) ->
    for k,v of data
      if type == 'entries'
        list.append("<li id='" + v['id'] + "'><a href='/entries/" + v['id'] + "'>" + v['title'] + "</a></li>")
      else
        console.log v['name']
        list.append("<li id='" + v['id'] + "'>" + v['name'] + "</li>")
  window.appendRequestData = (data) ->
    console.log data
    list = $('#list') #TODO: find a way to pass this to the callback
    for movie in data["movies"]
      html = "<img src='" + movie["posters"]["detailed"] + "'><li id='" + movie['id'] + "'><a href='/entries/"
      html +=  movie['id'] + "'>" + movie['title'] + "</a></li>"
      list.append(html)

    loaded()

  $('.depth').on 'click', ( event ) ->
    loading()

  $('#search').on 'keypress', ( event ) ->
    keycode = event.keyCode
    type = $('input[name=group]:checked').val()
    searchValue = $('#search').children().first().val()
    url = "search/" + type + "/" + searchValue + "/no"
    list = $('#list')
    entries = list.children()
    entry.remove() for entry in entries
    loaded()
    if keycode == 13 && type == 'entries'
      event.preventDefault()
      entry.remove() for entry in entries
      loading()
      url = "http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=<%= ENV['ROTTEN_TOMATOES_KEY'] %>&q="
      url += encodeURI(searchValue)
      url += "&page_limit=5"
      url += "&callback=appendRequestData"
      console.log url
      $.ajax url,
        type: 'GET',
        crossDomain: true,
        dataType: 'jsonp',
        jsonpCallback: 'appendRequestData',
        error: (jqXHR, textStatus, errorThrown) ->
          alert "AJAX Error: #{textStatus}"
    else if url != 'search/users/' or url != 'search/entries/'
      $.ajax url,
        type: 'GET',
        error: ( jqXHR, textStatus, errorThrown ) ->
        success: ( data ) ->
          appendControllerData(data, type, list)
