// Place all the styles related to the backlog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
  padding: 0;
}
.img-circle {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1500px) {
  .fa-trash-o {
    float: right;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .fa-trash-o {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .fa-trash-o {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    float: none;
  }
}
