// Place all the styles related to the backlog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

ul {
  list-style-type: none;
  padding: 0;
}

.brand {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

@media screen and (max-width: 1500px) {
  .btn-file {
    width: 200px;
  }
  .fa-trash-o, .btn-success, .right {
    float: right;
    margin-top: 10px;
  }
  .bq {
    margin-top: 20%;
  }
  .img-circle {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1137px) {
  #user_avatar {
    margin-top: 30px;
    font-size: 25px !important;
  }
  .btn-file {
    width: 100%;
  }
  .fa-trash-o, .btn-success, .right {
    display: block !important;
  }
  .nav > li {
    font-size: 40px !important;
  }
  .img-circle {
    width: 100px;
    height: 100px;
  }
  .portrait-img {
    float: none !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .bq {
    margin-top: 0px !important;
    font-size: 30px;
  }
  .form-control, .btn-default, .btn-success, .btn-warning, .btn-primary {
    font-size: 50px !important;
    height: 80px !important;
  }
  h2, h3 {
    font-size: 40px !important;
  }
  p {
    color: $red1;
    font-size: 30px;
  }
  .new_well, .sign_in_well {
    font-size: 30px !important;
  }
  label {
    font-size: 28px;
  }
  .devise_link {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 600px) {
  .fa-trash-o, .btn-success, .right {
    margin-left: 50%;
    display: block !important;
    float: none;
  }
  .static_well, .new_well {
    display: block;
  }
  .list-inline {
    display: flex !important;
  }
}
