$orange1:    		#CD6621;
$brown1:        #5C4332;
$brown2:        #491D06;
$white1:        #FEFEFD;
$white2:        #FEFEFE;
$tan1:          #FFEFD5;
$tan3:          #DAC48E;
$tan4:          #AEA799;
$tan5:          #C4B380;
$tan6:          #CBBE9A;
$tan7:          #F2BA65;
$turquoise1:    #2EAE9F;
$turquoise2:    #2D6F70;
$turquoise3:    #84A495;
$turquoise4:    #84A495;
$turquoise5:    #4BDAD8;
$navy1:         #2769A2;
