@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,100&subset=all);
@import "colors";
@import 'mixins.css.scss';

.new_well, .static_well {
  background-color: none !important;
  padding-top: 6px;
  transition: 200ms;
  background-color: rgba(255,255,255,0.92);
  padding: 15px;
  @include boxShadow(0, 1px, 1px, rgba(0,0,0,0.5));
}
.notification_well {
  background-color: $green1;
  border-color: $green1;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  border-radius: 10px;
  // display: none;
}
.new_well:hover {
      margin: 5px -10px;
      padding: 5px 20px;
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      border-bottom: 1px solid #bbb;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); }

html {
  background-size: 100%;
}
body {
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif !important;
}
a.btn-success {
  color: white;
}
a.btn-primary {
  background-color: $red1 !important;
  border-color: $red1 !important;
  color: $white1 !important;
  display: block !important;
  margin: auto !important;
}
h1 > a, .nav > li > a {
  color: $red1 !important;
}
.pagination > li > a {
  color: $red1 !important;
  // background-color: $red1 !important;
  // border-color: $red1 !important;
}
li.active > a {
  color: $white1 !important;
  background-color: $red1 !important;
  border-color: $red1 !important;
}
