// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portrait-img {
  max-height: 650px;
  max-width: 400px;
  float: left;
  margin-bottom: 10%;
}

.bq {
  margin-top: 20%;
}
