// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .user-img {
   display: block;
   margin: auto;
 }
.bottom_margin {
  margin-top: 10%;
}
.inline {
  display: inline-block;
}
.backlog-title {
  margin-top: 85px;
}
.center {
  text-align: center;
  display: inline-block;
}
.devise_link {
  font-size: 20px;
}
.call-to-action {
  overflow: hidden;
}
.list-inline, .user-zap {
  width: 100%;
  float: left;
  margin-top: 0 !important;
}
.list-inline {
  padding: 0 !important;
}
.inline-list-item {
  padding-top: 10px;
}
.user-zap {
  padding-bottom: 20px;
  padding-top: 20px;
}
