// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .user-img {
   display: block;
   margin: auto;
 }
.bottom_margin {
  margin-top: 10%;
}
.inline {
  display: inline-block;
}
.center {
  text-align: center;
  display: inline-block;
}
.btn-primary {
  display: block !important;
  margin: auto !important;
}
.devise_link {
  font-size: 20px;
}
.call-to-action {
  overflow: hidden;
}
.list-inline {
   padding: 0 !important;
   margin: 0 !important;
}
