// Place all the styles related to the zaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zap-search {
  width: 90%;
  margin:auto;
  height: 40
}
#query {
  height: 45px;
}
.depth {
  height: 45px;
}
#entries-list  > li, #users-list > li {
  width: 90%;
  margin: auto;
}
.centered-suggestions {
  padding-bottom: 10px;
  width: inherit;
  margin:auto;
}
.suggested-zap-item {
  display: inline-block;
}
.suggested-zap-label {
  font-size: 1.3em;
  margin-left: -20px;
  margin-right: 20px;
}
.zap-header {
  display: flex;
  margin-bottom: 25px;
}
.zap-field {
  font-size: 1.2em;
  height: 60px;
  width: 80%;
  border-color: white;
  margin-bottom: 30px;
}
.zap-intro {
  width: 80%;
}
.zap-btn {
  height: 50px;
}
.img-circle {
  transition:.4s;
}
