// Place all the styles related to the zaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zap-search {
  width: 90%;
  margin:auto;
  height: 40
}
#query {
  height: 45px;
}
.depth {
  height: 45px;
}
#entries-list  > li, #users-list > li {
  width: 90%;
  margin: auto;
}
